@model IEnumerable<Wardrobe.Models.Shoe>

@{
    ViewBag.Title = "Index";
}
<h2 class="homepageCat">I've Got Shoes</h2>

<p class="viewLabels">
    @Html.ActionLink("I Got Another!", "Create")
</p>

<div class="row container-fluid">
    @foreach (var item in Model)
    {

        <div class="row container-fluid col-sm-6 col-md-4">
            <div class="thumbnail">
                <img class="images" src="@Html.DisplayFor(modelItem => item.Photo)" alt="...">
                <div class="caption">
                    <h3 class="viewTitles"> @Html.DisplayFor(modelItem => item.Name) </h3>
                    <p class="viewLabelsDetails"> @Html.ActionLink("Details", "Details", new { id = item.ShoeID }) </p>
                    <p class="viewLabels">   @Html.ActionLink("Edit", "Edit", new { id = item.ShoeID })</p>
                    <p class="viewLabels"> @Html.ActionLink("Got Rid of It", "Delete", new { id = item.ShoeID })</p>
                </div>
            </div>
        </div>
    }

</div>
