@model Wardrobe.Models.Bottom

@{
    ViewBag.Title = "Details";
}

<div>

    <div class="row container-fluid">
        <div class="form-group homepageCat ">@Html.DisplayFor(model => model.Name)</div>
        <div>
            <img class="images col-md-2" src="@Html.DisplayFor(model => model.Photo)" alt="...">


        </div>

        <div class="form-group viewLabels">Good for: @Html.DisplayFor(model => model.Occasion.OccasionType) wear</div>
        <div class="form-group viewLabels">During: @Html.DisplayFor(model => model.Season.TheSeason) season</div>
        <p >
            @Html.ActionLink("Edit", "Edit", new { id = Model.BottomID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>


    </div>
</div>