<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title What I've Got</title>
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Delius|Short+Stack|Walter+Turncoat" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar  navbar-static-top" id="navvy">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="float:right">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Accessories", "Index", "Accesses")</li>
                    <li>@Html.ActionLink("Tops", "Index", "Tops")</li>
                    <li>@Html.ActionLink("Bottoms", "Index", "Bottoms")</li>
                    <li>@Html.ActionLink("Shoes", "Index", "Shoes")</li>
                </ul>
            </div>
        </div>
    </nav>




    <div class="container body-content">
        @RenderBody()
        
        <footer class="container-fluid text-center">
            
        </footer>
        <div class="row container-fluid">
            <div class="jumbotron-footer" id="footer">
                <p class="footer"><small>Created by Lakshami Mahajan</small></p>
                <p class="footer"><small>Most Completely Uncopyrighted</small></p>
            </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
