@model IEnumerable<Wardrobe.Models.Outfit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShirtID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottomID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShoesID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeasonID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OccasionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColorID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShirtID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BottomID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShoesID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeasonID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OccasionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColorID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OutfitID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OutfitID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OutfitID })
        </td>
    </tr>
}

</table>
